body {
    background-color: #DEB6AB;
}

.backdrop {
    margin-top: -2rem;
}

.w-35 {
    width: 35%;
}
.logo {
    width: 15%;
    height: 15%
}

li {
    margin-top: 1rem;
    background-color: #DEB6AB;
}